@charset "utf-8";

#all{
	height: auto;
}
#pc_nav{
	height: 85px;
	padding: 20px;
	background-color: black;
}
#pc_logo{
  width: 45px;
  height: 50px;
  background-image: url('image/logo.png');
	background-size: cover;
  background-position: left top;
  float: left;
  margin-right: 10px;
}
#pc_name{
  height: 45px;
  width: 150px;
  float: left;
  padding-top: 10px;
  margin-right: 20%
}
#pc_navbarR{
  width: 40%;
  height: 45px;
	letter-spacing: 0.2em;
  float: left;
  margin: 0px;

}
.nav_txt{
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.2em;
  background-color: black;
  padding: 7px;
  margin: 0px;
  float: left;
}
.nav_txt a{
color: white;
}
.nav_txt a:hover{
  color: #939393;
  text-decoration: none;
}

#header{
	height: 100vh;
	padding: 0px;
	background-color: gray;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.carousel-item-image-1{
        width: 100%;
        height: 100vh;
        background-image: url('image/p011.jpg');
        background-size: cover;
        background-position: center;
    }
    .carousel-item-image-2{
        width: 100%;
        height: 100vh;
        background-image: url('image/p012.jpg');
        background-size: cover;
        background-position: center;
    }
    .carousel-item-image-3{
        width: 100%;
        height: 100vh;
        background-image: url('image/p013.jpg');
        background-size: cover;
        background-position:center;
    }
    .carousel-item-image-4{
        width: 100%;
        height: 100vh;
        background-image: url('image/p014.jpg');
        background-size: cover;
        background-position: center;
    }

#news{
	height: auto;
	padding: 20px;
	margin: 0px;
	background-color: gray;
}
#news_wall{
	padding: 0px;
	margin: 0px;
	background-color: gray;
}
#news_1{
	padding: 1px;
	margin: 0px;
}
#inside_news1{
	height: auto;
	background-color: gray;
	margin: 0px;
}
#news1_pic{
  padding: 0px;
}
#news1_txt{
  height: 151px;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 23px;
  background-color: black;
}
#news_2{
	padding: 1px;
	margin: 0px;
}
#inside_news2{
	height: auto;
	background-color: gray;	
	margin: 0px;
}
#news2_pic{
  padding: 0px;
}
#news2_txt{
  height: 151px;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 23px;
  background-color: black;
}
#news_3{
	padding: 1px;
	margin: 0px;
}
#inside_news3{
	height: auto;
	background-color: gray;	
	margin: 0px;
}
#news3_pic{
  padding: 0px;
}
#news3_txt{
  height: 151px;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 23px;
  background-color: black;
}
#news_4{
	padding: 1px;
	margin: 0px;
}
#inside_news4{
	height: auto;
	background-color: gray;
	margin: 0px;
}
#news4_pic{
  padding: 0px;
}
#news4_txt{
  height: 151px;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 23px;
  background-color: black;
}
#news_5{
	padding: 1px;
	margin: 0px;
}
#inside_news5{
	height: auto;
	background-color: gray;	
	margin: 0px;
}
#news5_pic{
  padding: 0px;
}
#news5_txt{
  height: 151px;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 23px;
  background-color: black;
}
#news_6{
	padding: 1px;
	margin: 0px;
}
#inside_news6{
	height: auto;
	background-color: gray;	
	margin: 0px;
}
#news6_pic{
  padding: 0px;
}
#news6_txt{
  height: 151px;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 23px;
  background-color: black;
}

#news_title{
 height: 14px;
 margin-bottom: 10px;
 color: white;
}
#news_date{
  height: 11px;
  margin-bottom: 8px;
color: white;
}
#news_cop{
  height: 11px;
  margin-bottom: 22px;
color: white;
}
#news_seperate{
  border-bottom: solid 1px white;
  margin-bottom: 22px;
}
#read_more{
  height: 9px;
color: white;

}

#footer{
	height: 56px;
	padding-top: 20px;
  background-color: black;
  padding: 20px;
}
#copyright{
  margin: 0;
  font-size: 12px;
  line-height: 0px;
  color: white;
  float: left;
}
#icon_link{
  width: 160px;
  height: 25px;
  float: right;
  background-color: black;
  position: relative;
}

#myBtn {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: gray;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

nav#navigation.list.-on{
  z-index: 99;
}

#myBtn:hover {
  background-color: #555;
}

@media screen and (max-width: 767px){
#pc_nav{
  display: none;
}
#phone_nav{
  height: auto;
  padding: 20px;
  background-color: black;
}
#phone_logo{
  height: 45px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40%;
}

#logo{
  max-width: 40px;
  min-width: 40px;
  height: 45px;
  background-image: url('image/logo.png');
  background-size: cover;
  background-position: left top;
  margin-right: 10px;
  margin-left: -25%;
  float: left;
  
}
#logo_font{
  max-width: 150px;
  min-width: 150px;
  padding-top: 15px;
   
  float: left;
}
#nav_menu{
	height: auto;
}
#menu{
	margin-left: auto;
	margin-right: auto;	
}

/*---- from here-----*/

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  color: #333;
  font-size: 14px;
  font-family: Verdana, Arial, sans-serif;
  line-height: 20px;
}
#navigation a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (min-width: 768px) {
  .area {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .area {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .area {
    width: 1140px;
  }
}
.navbar-component {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
.navbar-component > .navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar > .brand {
  display: block;
  font-size: 16px;
  color: #777;
  margin: 22px;
}
.navbar > .toggle {
  outline: none;
  border: 0;
  display: inline-block;
  background-color: transparent;
  background-image: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 22px;
}
@media (min-width: 768px) {
  .navbar > .toggle {
    display: none;
  }
}
.navbar > .toggle > .icon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar > .toggle > .icon,
.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
  display: block;
  width: 24px;
  height: 3px;
  -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  transition: background-color 0.3s linear, transform 0.3s linear;
  transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
  background-color: #555555;
}
.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
  position: absolute;
  content: "";
}
.navbar > .toggle > .icon:before {
  top: -8px;
}
.navbar > .toggle > .icon:after {
  top: 8px;
}
.navbar > .toggle.-active > .icon {
  background-color: transparent;
}
.navbar > .toggle.-active > .icon:before {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
.navbar > .toggle.-active > .icon:after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}
.navbar > .list {
  display: none;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .navbar > .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 768px) {
  .navbar > .list {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    border-top: 1px solid #ddd;
    background-color: #fff;
  }
}
.navbar > .list.-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar > .list > .item {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 64px;
  line-height: 64px;
  padding-left: 22px;
  padding-right: 22px;
  text-transform: uppercase;
  color: #555;
  font-size: 14px;
}
.navbar > .list > .item.-link {
  line-height: 68px;
  color: #555;
  border-bottom: 4px solid transparent;
}
.navbar > .list > .item.-link.-active,
.navbar > .list > .item.-link:hover,
.navbar > .list > .item.-link:focus {
  color: #333;
  border-bottom-color: #673ab7;
}


}

@media screen and (min-width: 768px){
#phone_nav{
	display: none;
}
}
